@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    font-display: block;
    src: url(../fonts/inter-subset.woff2) format("woff2");
    font-weight: 500
}

@font-face {
    font-family: 'Newsreader';
    font-display: block;
    src: url(../fonts/newsreader-subset.woff2) format("woff2");
    font-weight: 400;
    font-style: italic
}

